.mood-distruibution {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  /* 3 columns */
    gap: 8px;  /* Adds space between boxes */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    grid-auto-rows: 1fr; /* Ensures rows maintain equal height */
}
/* .wrapper {
    height: 300px;
    width: 40%;
    position: fixed;
    top:500px;
    bottom: 0px;
    background-color: #000000;
    left: 0;
} */
 .wrapper{
    background-color: black;
 }
