* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.mood-calendar-box {
  position: fixed; /* Keeps it fixed to the left side */
  left: 0;
  top: 0;
  width: 100vw; /* Takes up half the screen width */
  height: 100vh; /* Full height of the viewport */
  background-color: rgb(157, 154, 154); /* Optional background color */
  overflow: hidden; /* Ensures content is scrollable if needed */
  display: flex; /* Enables horizontal split-screen layout */

}

.auth-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-toggle {
  margin-top: 15px;
  text-align: center;
  color: #EEC6CA;
}

.text-button {
  background: none;
  border: none;
  color: #BCF4DE;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  text-decoration: underline;
  width: auto;
}

.text-button:hover {
  color: #a0e6ca;
  background: none;
}